# .github directory & its subdirectories

/.github/ @newrelic/docs-engineering

# Changes to yarn.lock file

yarn.lock @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @jkinmonth @john-withers @aalfano7
