# .github directory & its subdirectories
/.github/ @newrelic/docs-engineering

# all javascript files
*.js @newrelic/docs-engineering

yarn.lock @newrelic/docs-engineering

# Whats new files (pings individual project marketing managers)

/src/content/whats-new/ @jkinmonth @alexiskjones @daynaslord @john-withers @aalfano7
