.accordian-container {
  border: 1px solid var(--nr1--base-colors--ui--gray--5);
  border-radius: 3px;
  margin-bottom: 8px;
}
.accordian-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 14px;
  border-radius: 3px;
}
