agentName: browser-media
agentType: integration
title: 'Install media video agent for browser application'
metaDescription: 'Install the Streaming video & ads agent for browser application'
introFilePath: 'src/install/browser-media/intro.mdx'

appInfo: 
  - optionType: task
    label: ''
    placeholder: 'Choose an option'
    options: 
      - value: 'newapplication'
        displayName: 'Install using npm'
      - value: 'EU2'
        displayName: 'Place a JavaScript snippet in frontend code'
steps:
  - filePath: 'src/install/browser-media/browser-path/install_the_app.mdx'
  - filePath: '/src/install/browser-media/appInfo.mdx'
  - filePath: 'src/install/browser-media/browser-path/newapplication.mdx'
    overrides:
      - isConditionalStep: true      
        selectedOptions:
          - optionType: task
            options:
              - value: 'newapplication'
  - filePath: 'src/install/browser-media/appInfo_EU2.mdx'
    overrides:
      - isConditionalStep: true
        selectedOptions:
          - optionType: task
            options:
              - value: 'EU2'                                             
whatsNextFilePath: 'src/install/browser-media/whatsNext.mdx'