name: Add Slugs to Translation Queue

on:
  pull_request:
    branches:
      - main
    types:
      - closed
    paths:
      - '**.mdx'

env:
  DB_CONNECTION_INFO: ${{ secrets.DB_CONNECTION_INFO }}

jobs:
  get-and-save-slugs:
    name: Get and Save Slugs
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2

      - name: Cache dependencies
        id: yarn-cache
        uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-node-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install dependencies
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile

      - name: Get slugs and save
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          URL="https://api.github.com/repos/${GITHUB_REPOSITORY}/pulls/${{ github.event.pull_request.number }}/files"
          yarn add-files-to-translate $URL
