name: Check images

on:
  workflow_dispatch:
  schedule:
    - cron: '0 17 * * 2' # 9AM PST (5PM UTC) on Tuesday mornings

env:
  BOT_NAME: nr-opensource-bot
  BOT_EMAIL: opensource+bot@newrelic.com

jobs:
  check-images:
    name: Convert or delete
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          ref: develop
          persist-credentials: false

      - name: Setup node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies
        run: yarn add glob10@npm:glob@^10.0.0 commander@8.3.0 webp-converter@2.3.3

      - name: Remove unused images
        run: yarn remove-unused-images

      - name: Convert images to WEBP
        run: yarn convert-to-webp -g

      - name: Commit changes
        id: commit-changes
        run: |
          git config --local user.email "${{ env.BOT_EMAIL }}"
          git config --local user.name "${{ env.BOT_NAME }}"
          git add ./src/data/whats-new-ids.json
          git diff-index --quiet HEAD ./src/data/whats-new-ids.json || git commit -m 'chore(images): convert to webp & remove unused images'
          echo "commit=true" >> $GITHUB_OUTPUT

      - name: Push Commit
        if: steps.commit-changes.outputs.commit == 'true'
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.DEVEX_OPENSOURCE_BOT_TOKEN }}
          branch: develop
