name: Fetch Swiftype content

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 1,4' # start of the day on Monday and Thursday

env:
  BOT_NAME: nr-opensource-bot
  BOT_EMAIL: opensource+bot@newrelic.com
  NODE_OPTIONS: '--max-old-space-size=4096'
  CHOKIDAR_USEPOLLING: 1

jobs:
  fetch-swiftype-results:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          ref: main

      - name: Setup node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16

      - name: Cache dependencies
        id: yarn-cache
        uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-node-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install dependencies
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile

      - name: Fetch related resources
        run: yarn run fetch-related-content

      - name: Temporarily disable branch protection
        id: disable-branch-protection
        uses: actions/github-script@v1
        with:
          github-token: ${{ secrets.OPENSOURCE_BOT_TOKEN }}
          previews: luke-cage-preview
          script: |
            const result = await github.repos.updateBranchProtection({
              owner: context.repo.owner,
              repo: context.repo.repo,
              branch: 'main',
              required_status_checks: null,
              restrictions: null,
              enforce_admins: null,
              required_pull_request_reviews: null
            })
            console.log("Result:", result)

      - name: Commit changes
        id: commit-changes
        run: |
          git config --local user.email "${{ env.BOT_EMAIL }}"
          git config --local user.name "${{ env.BOT_NAME }}"
          git add ./src/data/swiftype-resources/
          git diff-index --quiet HEAD ./src/data/swiftype-resources/ || git commit -m 'chore(related-content): updated swiftype related content data'
          echo "::set-output name=commit::true"

      # Push directly to `main` branch because we want updates to the related
      # content to trigger a deploy. If we commit directly to the `develop`
      # branch, it would require a PR from the team to deploy the changes.
      - name: Push Commit
        if: steps.commit-changes.outputs.commit == 'true'
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.OPENSOURCE_BOT_TOKEN }}
          branch: main

      - name: Re-enable branch protection
        id: enable-branch-protection
        if: always()
        uses: actions/github-script@v1
        with:
          github-token: ${{ secrets.OPENSOURCE_BOT_TOKEN }}
          previews: luke-cage-preview
          script: |
            const result = await github.repos.updateBranchProtection({
              owner: context.repo.owner,
              repo: context.repo.repo,
              branch: 'main',
              required_status_checks: {
                strict: false,
                contexts: [
                  'Gatsby Build Service - docs-website',
                  'unpaired translations removed'
                ]
              },
              restrictions: {
                users: [],
                teams: ['developer-enablement']
              },
              enforce_admins: true,
              required_pull_request_reviews: null
            })
            console.log("Result:", result)
