name: Protected file updates

on:
  pull_request:
    branches:
      - develop

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  deny-protected-file-changes:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Prevent attribute dictionary file change
        id: attribute-dictionary
        uses: xalvarez/prevent-file-change-action@v1.5.1
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          pattern: .*attribute-dictionary-*\.json$
          trustedAuthors: svc-docs-eng-opensource-bot

      - name: Prevent ruby config file change
        id: ruby-config
        uses: xalvarez/prevent-file-change-action@v1.5.1
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          pattern: .*src/content/docs/apm/agents/ruby-agent/configuration/ruby-agent-configuration.mdx
          trustedAuthors: newrelic-ruby-agent-bot,kaylareopelle,hannahramadan,tannalynn,fallwith

      - name: Prevent images added to src directory
        id: images
        uses: xalvarez/prevent-file-change-action@v1.5.1
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          pattern: .*src\/images\/*

      - name: Comment if JSON file is modified
        if: ${{ failure() && steps.attribute-dictionary.outcome == 'failure' }}
        uses: thollander/actions-comment-pull-request@v2
        with:
          message: |
            > [!WARNING]
            > **`attribute-dictionary-*.json` are autogenerated files.**
            >
            > Changes to attribute dictionary should be made through the `attribute-dictionary` repo in GHE.

      - name: Comment if ruby config file is modified
        if: ${{ failure() && steps.ruby-config.outcome == 'failure' }}
        uses: thollander/actions-comment-pull-request@v2
        with:
          message: |
            > [!WARNING]
            > **`ruby-agent-configuration.mdx` is an autogenerated file.**
            > 
            > To change the Ruby agent configuration file, please submit an issue or open a PR in the [`newrelic/newrelic-ruby-agent`](https://github.com/newrelic/newrelic-ruby-agent) repo.

      - name: Comment if images added to src directory
        if: ${{ failure() && steps.images.outcome == 'failure' }}
        uses: thollander/actions-comment-pull-request@v2
        with:
          message: |
            > [!WARNING]
            > **An image has been added to `src/images/`.** 
            > 
            > Image files must be in `static/images/`. [Guide to using images in docs-website](https://github.com/newrelic/docs-website/blob/master/src/content/docs/style-guide/images/embed-images.mdx)
