name: whats-new

on:
  pull_request:
    types:
      - opened
    branches:
      - main

env:
  BOT_NAME: nr-opensource-bot
  BOT_EMAIL: opensource+bot@newrelic.com

jobs:
  update-whats-new-ids:
    name: generates in-product anncouncements (optional)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          ref: develop
          persist-credentials: false

      - name: Setup node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16

      - name: Install dependencies
        run: yarn add vfile-glob@1.0.0 to-vfile@6.1.0

      - name: Generate new IDs
        run: yarn run generate-whatsnew-ids

      - name: Commit changes
        id: commit-changes
        run: |
          git config --local user.email "${{ env.BOT_EMAIL }}"
          git config --local user.name "${{ env.BOT_NAME }}"
          git add ./src/data/whats-new-ids.json
          git diff-index --quiet HEAD ./src/data/whats-new-ids.json || git commit -m 'chore(whats-new-ids): updated ids'
          echo "commit=true" >> $GITHUB_OUTPUT

      - name: Temporarily disable branch protection
        id: disable-branch-protection
        uses: actions/github-script@v1
        with:
          github-token: ${{ secrets.DEVEX_OPENSOURCE_BOT_TOKEN }}
          previews: luke-cage-preview
          script: |
            const result = await github.repos.updateBranchProtection({
              owner: context.repo.owner,
              repo: context.repo.repo,
              branch: 'develop',
              required_status_checks: null,
              restrictions: null,
              enforce_admins: null,
              required_pull_request_reviews: null
            })
            console.log("Result:", result)

        # Push directly to the `develop` branch so we get the changes included in the release PR
      - name: Push Commit
        if: steps.commit-changes.outputs.commit == 'true'
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.DEVEX_OPENSOURCE_BOT_TOKEN }}
          branch: develop

      - name: Re-enable branch protection
        id: enable-branch-protection
        if: always()
        uses: actions/github-script@v1
        with:
          github-token: ${{ secrets.DEVEX_OPENSOURCE_BOT_TOKEN }}
          previews: luke-cage-preview
          script: |
            const result = await github.repos.updateBranchProtection({
              owner: context.repo.owner,
              repo: context.repo.repo,
              branch: 'develop',
              required_status_checks: {
                strict: false,
                contexts: [
                  'Gatsby Build Service - docs-website-develop',
                  'run linter',
                  'run tests',
                  'license/cla',
                  'unpaired translations removed'
                ]
              },
              restrictions: {
                users: [],
                teams: ['docs-engineering']
              },
              enforce_admins: null,
              required_pull_request_reviews: {
                dismiss_stale_reviews: true,
                required_approving_review_count: 1
              }
            })
            console.log("Result:", result)
